*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #13678A;
    color: white;
    font-family: Arial, Helvetica, sans-serif;

}

main{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5em;
    
}

h2{
    text-align: center;
} 

nav > a{
    padding: 10px;
    color: #012030;
    text-decoration: none;
}

nav > a:hover{
    background-color: #012030;
    color: #ffff;
}
.busca{
    float: right;
    border-radius: 5px;
    border-style: solid;
    margin-left: 10px;

}

#intro{
    float: left;
    text-align: center;
}

aside{
    float: right;
    background-color: #45C4B0;
    color: black;
    padding: 10px;
    border-radius: 5px;
    width: 400px;
    margin-bottom: 50px;
}

label, input, select{
    margin-bottom: 20px;
    padding: 5px;
}
input{
    border: none;
    padding: 0.5em;
    border-radius: 3px;   
}
.encher{
    width: 250px;
}
#button{
    background-color:#FFD700;
    width: 100%;
    border: none;
    padding: 1em;
}
#button:hover{
    background-color: #FFFF00;
}
h3{
    text-align: center;
    color: rgb(194, 33, 33);
    margin-bottom: 5px;
}
h4{
    text-align: right;
    color: black;
}
.right{
    color: #008000;
}
